<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.majon.sns_copy.feed.dao.FeedDAO">
 
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `feed`
 		(
 			`userId`
 			,`userName`
 			,`content`
 			,`imagePath`
 			,`createdAt`
 			,`updatedAt`
 		)VALUES(
 			#{userId}
 			,#{userName}
 			,#{content}
 			,#{imagePath}
 			,now()
 			,now()
 		)
 	
 	</insert>
 	
 	<select id="selectPost" parameterType="map" resultType="com.majon.sns_copy.model.Feed">
 		SELECT 
 			`id`
 			,`userId`
 			,`userName`
 			,`content`
 			,`imagePath`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`feed`
 		ORDER BY
 			`id` DESC;
 	</select>
 	
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`userId`
 			,`feedId`
 			,`userName`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		)VALUES(
 			#{userId}
 			,#{feedId}
 			,#{userName}
 			,#{content}
 			,now()
 			,now()
 		)
 	</insert>
 
 	<select id="selectComment" parameterType="map" resultType="com.majon.sns_copy.model.Comment">
 		SELECT 
 			`id`
 			,`userId`
 			,`feedId`
 			,`userName`
 			,`content`
 			,`emoji`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`comment`
 		ORDER BY
 			`id` DESC;
 	</select>
 
 </mapper>