<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.majon.sns_copy.user.dao.UserDAO">
 
 	<insert id="insertUser" parameterType="String">
 		INSERT INTO `user`
 		(
 			`loginId`
 			,`name`
 			,`password`
 			,`email`
 			,`createdAt`
 			,`updatedAt`
 		)VALUES(
 			#{loginId}
 			,#{name}
 			,#{password}
 			,#{email}
 			,now()
 			,now()
 		)
 			
 	
 	</insert>
 	
 	<select id="countDuplicateId" resultType="int">
 	
 		SELECT 
 			count(*)
 		FROM 
 			`user`
 		WHERE `loginId` = #{loginId}
 	
 	</select>
 
 </mapper>